<div class="card striped-tabled-with-hover">
  <div class="card-header d-flex justify-content-between">
    <div>
      <h4 class="card-title">Tipos De Contenido</h4>
      <p class="card-category">Listado de Tipos De Contenido Disponibles</p>
    </div>
    <button type="button" class="align-self-start btn btn-fill btn-success" routerLink="/main/parametros/form-tipo-contenido">AGREGAR</button>
  </div>
  
  <div class="col-md-4 col-sm-4">
    <label for="id_lenguaje">IDIOMA *</label>
    <select class="form-control" (change)="changeDropDownList($event)" >
      <option value="0">Seleccione</option>
      <option *ngFor="let item of lenguajes" value="{{item.id}}">{{item.nombre}}</option>
    </select>
  </div>

  <div class="card-content table-responsive table-full-width p-3">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Lenguaje</th>
          <th>Nombre</th>
          <th class="text-right">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipocontenido of tiposcontenido">
          <td>{{tipocontenido.id}}</td>
          <td>{{tipocontenido.nombre}}</td>
          <td>{{tipocontenido.lenguaje.nombre}}</td>
          <td class="text-right">
            <a class="btn btn-link btn-warning" (click)="updateTipoContenido(tipocontenido)">Editar <i class="fa fa-edit"></i></a>
            <a class="btn btn-link btn-darnger" (click)="eliminarTipoContenido(tipocontenido)">Eliminar <i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
