<div class="card striped-tabled-with-hover">
  <div class="card-header d-flex justify-content-between">
    <div>
      <h4 class="card-title">Categorias</h4>
      <p class="card-category">Listado de Categorias Disponibles</p>
    </div>
    <button type="button" class="align-self-start btn btn-fill btn-success" routerLink="/main/parametros/form-categoria">AGREGAR</button>
  </div>
  <div class="card-content table-responsive table-full-width p-3">
    <div class="col-md-4 col-sm-4">
      <label for="id_lenguaje">IDIOMA *</label>
      <select class="form-control" (change)="changeDropDownList($event)" >
        <option value="0">Seleccione</option>
        <option *ngFor="let item of lenguajes" value="{{item.id}}">{{item.nombre}}</option>
      </select>
    </div>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Lenguaje</th>
          <th class="text-right">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{categoria.id}}</td>
          <td>{{categoria.nombre}}</td>
          <td>{{categoria.lenguaje.nombre}}</td>
          <td class="text-right">
            <a class="btn btn-link btn-warning" (click)="updateCategoria(categoria)">Editar <i class="fa fa-edit"></i></a>
            <a class="btn btn-link btn-darnger" >Eliminar <i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
