<div class="sidebar" data-color="blue" data-image="./assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a [routerLink]="['/gustos/listcategorias']" class="simple-text logo-mini">
                LS
            </a>
            <a [routerLink]="['/gustos/listcategorias']" class="simple-text logo-normal">
                Lulosaurio
            </a>
        </div>
        <div class="user">

            <div class="info ">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>Raynier Mora
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a class="profile-dropdown" href="#">
                                <span class="sidebar-mini">CS</span>
                                <span class="sidebar-normal">Cerrar Sesión</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/main/dashboard/dashboard">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#gustos">
                    <i class="nc-icon nc-satisfied"></i>
                    <p>
                        Parametros
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="gustos">
                    <ul class="nav">

                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/main/parametros/list-categorias">
                                <span class="sidebar-mini">LC</span>
                                <span class="sidebar-normal">Listar Categorias</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/main/parametros/list-lenguajes">
                                <span class="sidebar-mini">LC</span>
                                <span class="sidebar-normal">Listar Lengujaes</span>
                            </a>
                        </li>



                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#planes">
                    <i class="nc-icon nc-watch-time"></i>
                    <p>
                        Cuentos
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="planes">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/planes/crearplan">
                                <span class="sidebar-mini">CP</span>
                                <span class="sidebar-normal">Crear Planes</span>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/planes/listarplanes">
                                <span class="sidebar-mini">LP</span>
                                <span class="sidebar-normal">Listar Planes</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#suscriptores">
                    <i class="nc-icon nc-puzzle-10"></i>
                    <p>
                        Suscriptores
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="suscriptores">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/gustos">
                                <span class="sidebar-mini">LG</span>
                                <span class="sidebar-normal">Listar Gustos</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>
