<!DOCTYPE html>

<html lang="en"> 
    <body class="h-100">
        <div id="root" class="h-100">
            <div class="fixed-background" ></div>
            <div class="container-fluid h-100 position-relative">
                <div class="row h-100">
                    <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0" style="margin: auto;">
                        <div class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5" style="border-radius: 15px;">
                            <div class="sw-lg-50 px-5">
                                <div class="sh-11" >
                                    <img src="assets/img/lulo/Luloimg.png" width="100" style="margin-top: -5%;">
                                    <!-- <img src="assets/img/lulo/Titulo.svg" > -->
                                </div>
                                <div class="mb-5">
                                    <h2 class="cta-1 mb-0 text-primary">Bienvenido (a),</h2>
                                    <h2 class="cta-1 text-primary">LuloSaurio</h2>
                                </div>
                                <div class="mb-5">
                                    <p class="h6">Utilice sus credenciales para iniciar sesión.</p>
                                </div>
                                <div>
                                    <form id="loginForm" class="tooltip-end-bottom" novalidate>
                                        <div class="mb-3 filled form-group tooltip-end-top">
                                            <i data-acorn-icon="email"></i>
                                            <input class="form-control" placeholder="Email" name="email">
                                        </div>
                                        <div class="mb-3 filled form-group tooltip-end-top">
                                            <i data-acorn-icon="lock-off"></i>
                                            <input class="form-control pe-7" name="password" type="password" placeholder="Password">
                                            <a class="text-small position-absolute t-3 e-3" href="Pages.Authentication.ForgotPassword.html">Forgot?</a>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>
